# Creating a DataFrame

## Basic imports

In [1]:
import pandas as pd

## Create a DataFrame out of a dictionary

In [2]:
d = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data=d)
df

   A  B
0  1  4
1  2  5
2  3  6

## Turn a NumPy ndarray into a DataFrame

In [3]:
import numpy as np

In [4]:

data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)])
df = pd.DataFrame(data, columns=['x', 'y', 'z'])
df

   x  y  z
0  1  2  3
1  4  5  6
2  7  8  9

## Use CSV in a string to create a DataFrame

In [5]:
from io import StringIO

In [6]:
data = StringIO("""
A,B,C
1,2,3
4,5,6
7,8,9
""")

df = pd.read_csv(data)
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9